REDIS_IMAGE=123456789012.dkr.ecr.ap-northeast-2.amazonaws.com/prod-redis-service:latest
REDIS_BIND_HOST=127.0.0.1
REDIS_BIND_PORT=6379
REDIS_PASSWORD=change-this-prod-redis-password
REDIS_CONFIG_FILE=/usr/local/etc/redis/prod/redis.conf
REDIS_MAXMEMORY=1gb
REDIS_MAXMEMORY_POLICY=allkeys-lru
REDIS_CONTAINER_NAME=central-redis
SHARED_SERVICE_NETWORK=service-backbone-shared
REDIS_EXPORTER_BIND_HOST=127.0.0.1
REDIS_EXPORTER_PORT=9121
REDIS_EXPORTER_CONTAINER_NAME=central-redis-exporter
