### OS ###
.DS_Store

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Environment ###
.env
env/.env.*
!env/.env.prod.example

### Local Build ###
build/

### Docker Runtime ###
docker/data/
docker/logs/
